
body {
    background-color: lavender;
}

.scene {
    margin: auto;
    margin-top: 300px;
    width: 250px;
    height: 200px;
    position: relative;
    perspective: 1000px;
}

.card {
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.each {
    display: block;
    position: absolute;
    background: #000;
    width: 200px;
    height: 200px;
    font-size: large;
    text-align: center;
    color: #FFF;
    opacity: 0.9;
    border-radius: 15px;
    background: #918d8d;
    margin: auto;
}

img {
    width: 150px;
    height: 150px;
}

#day0 {
    transform: rotateX(0deg) translateZ(250px);
    box-shadow: 2px 2px 20px 10px rgb(255, 0, 64);
     
}

#day1 {
    transform: rotateX(51.428deg) translateZ(250px);
    box-shadow: 2px 2px 20px 10px rgb(255, 115, 0);
     
}

#day2 {
    transform: rotateX(102.857deg) translateZ(250px);
    box-shadow: 2px 2px 20px 10px yellow;
     
}

#day3 {
    transform: rotateX(154.285deg) translateZ(250px);
    box-shadow: 2px 2px 20px 10px green;
     
}

#day4 {
    transform: rotateX(205.714deg) translateZ(250px);
    box-shadow: 2px 2px 20px 10px blue;
     
}

#day5 {
    transform: rotateX(257.142deg) translateZ(250px);
    box-shadow: 2px 2px 20px 10px indigo;
     
}

#day6 {
    transform: rotateX(308.571deg) translateZ(250px);
    box-shadow: 2px 2px 20px 10px violet;
     
}







#button {
    color: #444;
    position: absolute;
    margin: auto;
    top: 400px;
    padding: 1em 2em;
    cursor: pointer;
    background: #CCC;
    border-radius: 10px;
    border: 1px solid #FFF;
    box-shadow: 0 5px 0 #999;
    transition: box-shadow 0.1s, top 0.1s;
}
